#데이터프레임 다루기

* 특정 행 또는 열을 선택하기
* 행과 열의 삽입과 삭제
* 데이터프레임의 원소를 이용하여 계산하기
* DataFrame과 Series 사이의 연산

#iloc, loc를 사용하여 행/열 선택하기
iloc은 인덱스 번호로 데이터 프레임의 데이터를 선택하고, loc는 lable을 기준으로 선택한다.

다음과 같이 데이터 프레임을 생성하자.

In [2]:
import numpy as np
import pandas as pd

df2d = pd.DataFrame(np.random.randint(50, 101, (5, 8)),
                    columns=['국어', '영어', '수학', '한국사', '사회', '과학', '체육', '예술'],
                    index=['김효림', '박민철', '정윤주', '최나은', '홍길동'])

df2d

     국어  영어   수학  한국사  사회  과학  체육  예술
김효림  54  79   91   69  85  59  78  80
박민철  93  51  100   72  97  76  55  51
정윤주  96  85   77   91  70  97  86  54
최나은  56  83   50   53  63  68  84  80
홍길동  61  64   65   55  56  63  57  76

#행번호로 선택하는 방법(iloc)

In [3]:
#df2d데이터프레임의 첫 행만 확인
df2d.iloc[0]

국어     54
영어     79
수학     91
한국사    69
사회     85
과학     59
체육     78
예술     80
Name: 김효림, dtype: int64

In [4]:
#df2d 데이터프레임의 처음 세 개의 행을 확인
df2d.iloc[:3]

     국어  영어   수학  한국사  사회  과학  체육  예술
김효림  54  79   91   69  85  59  78  80
박민철  93  51  100   72  97  76  55  51
정윤주  96  85   77   91  70  97  86  54

In [5]:
#df2d 데이터프레임의 3번 행부터 끝까지 확인
df2d.iloc[3:]

     국어  영어  수학  한국사  사회  과학  체육  예술
최나은  56  83  50   53  63  68  84  80
홍길동  61  64  65   55  56  63  57  76

In [6]:
#여학생 정보만 추출
femail = df2d.iloc[[0, 2, 3]]
femail

     국어  영어  수학  한국사  사회  과학  체육  예술
김효림  54  79  91   69  85  59  78  80
정윤주  96  85  77   91  70  97  86  54
최나은  56  83  50   53  63  68  84  80

In [7]:
#df2d 데이터프레임의 끝에서 세 번째 열을 확인
df2d.iloc[:, -3]

김효림    59
박민철    76
정윤주    97
최나은    68
홍길동    63
Name: 과학, dtype: int64

In [8]:
#df2d 데이터프레임의 처음 세 개의 열을 확인
df2d.iloc[:, :3]

     국어  영어   수학
김효림  54  79   91
박민철  93  51  100
정윤주  96  85   77
최나은  56  83   50
홍길동  61  64   65

In [9]:
#df2d 데이터프레임의 3번 열부터 끝까지
df2d.iloc[:, 3:]

     한국사  사회  과학  체육  예술
김효림   69  85  59  78  80
박민철   72  97  76  55  51
정윤주   91  70  97  86  54
최나은   53  63  68  84  80
홍길동   55  56  63  57  76

In [10]:
#국어, 수학, 과학 과목만 선택한 후 확인
choice = df2d.iloc[:, [0, 2, 5]]
choice

     국어   수학  과학
김효림  54   91  59
박민철  93  100  76
정윤주  96   77  97
최나은  56   50  68
홍길동  61   65  63

# lable을 이용하여 데이터 선택(loc)

In [11]:
#lable이 '정윤주'인 행을 확인
df2d.loc['정윤주']

국어     96
영어     85
수학     77
한국사    91
사회     70
과학     97
체육     86
예술     54
Name: 정윤주, dtype: int64

In [12]:
#lable이 '박민철'과 '최나은'인 행을 확인
df2d.loc[['박민철', '최나은']]#반드시 이중의 대괄호 사용

     국어  영어   수학  한국사  사회  과학  체육  예술
박민철  93  51  100   72  97  76  55  51
최나은  56  83   50   53  63  68  84  80

In [13]:
# '정윤주', 박민철'과 '최나은'의 '국어', '사회', '과학' 점수 확인
df2d.loc[['정윤주', '박민철', '최나은'], ['국어', '사회', '과학']]

     국어  사회  과학
정윤주  96  70  97
박민철  93  97  76
최나은  56  63  68

# 행 또는 열의 추가 및 삭제

## 열 추가

In [14]:
df2d['한문'] = 0
df2d

     국어  영어   수학  한국사  사회  과학  체육  예술  한문
김효림  54  79   91   69  85  59  78  80   0
박민철  93  51  100   72  97  76  55  51   0
정윤주  96  85   77   91  70  97  86  54   0
최나은  56  83   50   53  63  68  84  80   0
홍길동  61  64   65   55  56  63  57  76   0

In [15]:
df2d['한문'] = np.random.randint(50,101, 5)
df2d

     국어  영어   수학  한국사  사회  과학  체육  예술  한문
김효림  54  79   91   69  85  59  78  80  71
박민철  93  51  100   72  97  76  55  51  61
정윤주  96  85   77   91  70  97  86  54  50
최나은  56  83   50   53  63  68  84  80  76
홍길동  61  64   65   55  56  63  57  76  79

## 열 삭제

**del 명령을 이용하여 한문 삭제**

In [16]:
del df2d['한문']
df2d

     국어  영어   수학  한국사  사회  과학  체육  예술
김효림  54  79   91   69  85  59  78  80
박민철  93  51  100   72  97  76  55  51
정윤주  96  85   77   91  70  97  86  54
최나은  56  83   50   53  63  68  84  80
홍길동  61  64   65   55  56  63  57  76

**drop()을 이용하여 하나의 열을 삭제**

데이터프레임명.drop('컬럼명', axis=1, inplace=True)

In [17]:
new_df2d = df2d.copy()
new_df2d

     국어  영어   수학  한국사  사회  과학  체육  예술
김효림  54  79   91   69  85  59  78  80
박민철  93  51  100   72  97  76  55  51
정윤주  96  85   77   91  70  97  86  54
최나은  56  83   50   53  63  68  84  80
홍길동  61  64   65   55  56  63  57  76

In [18]:
new_df2d = new_df2d.drop('사회', axis=1)
new_df2d #'사회' 칼럼이 삭제되었을까?

     국어  영어   수학  한국사  과학  체육  예술
김효림  54  79   91   69  59  78  80
박민철  93  51  100   72  76  55  51
정윤주  96  85   77   91  97  86  54
최나은  56  83   50   53  68  84  80
홍길동  61  64   65   55  63  57  76

In [19]:
#new_df2d = new_df2d.drop('사회', axis=1) 또는
new_df2d.drop('사회', axis=1, inplace=True)
new_df2d

KeyError: ignored

**drop()을 이용하여 여러 개의 열을 삭제**

데이터프레임명.drop(['컬럼명1', '컬럼명2'], axis=1)

In [ ]:
new_df2d.drop(['예술', '체육'], axis=1, inplace=True)
new_df2d

# 행 삭제

drop()을 이용하여 행삭제

In [20]:
new_df2d.drop(['정윤주', '김효림'], inplace=True)
new_df2d

     국어  영어   수학  한국사  과학  체육  예술
박민철  93  51  100   72  76  55  51
최나은  56  83   50   53  68  84  80
홍길동  61  64   65   55  63  57  76

# 행 추가

loc를 이용하여 행 추가

In [21]:
df2d

     국어  영어   수학  한국사  사회  과학  체육  예술
김효림  54  79   91   69  85  59  78  80
박민철  93  51  100   72  97  76  55  51
정윤주  96  85   77   91  70  97  86  54
최나은  56  83   50   53  63  68  84  80
홍길동  61  64   65   55  56  63  57  76

In [22]:
#dataframe.loc[행정보, 열정보]
df2d.loc['남효민'] = np.random.randint(50,101,8)
df2d

     국어  영어   수학  한국사  사회  과학  체육  예술
김효림  54  79   91   69  85  59  78  80
박민철  93  51  100   72  97  76  55  51
정윤주  96  85   77   91  70  97  86  54
최나은  56  83   50   53  63  68  84  80
홍길동  61  64   65   55  56  63  57  76
남효민  67  58   75   84  54  54  85  93

# 데이터프레임의 원소를 이용하여 계산하기

In [23]:
#과목별 합계와 평균을 계산하여 출력하기
df2d.loc['합계', :] = df2d.iloc[:6].sum()
df2d.loc['평균', :] = df2d.iloc[:6].mean()
df2d

             국어     영어          수학  ...     과학          체육          예술
김효림   54.000000   79.0   91.000000  ...   59.0   78.000000   80.000000
박민철   93.000000   51.0  100.000000  ...   76.0   55.000000   51.000000
정윤주   96.000000   85.0   77.000000  ...   97.0   86.000000   54.000000
최나은   56.000000   83.0   50.000000  ...   68.0   84.000000   80.000000
홍길동   61.000000   64.0   65.000000  ...   63.0   57.000000   76.000000
남효민   67.000000   58.0   75.000000  ...   54.0   85.000000   93.000000
합계   427.000000  420.0  458.000000  ...  417.0  445.000000  434.000000
평균    71.166667   70.0   76.333333  ...   69.5   74.166667   72.333333

[8 rows x 8 columns]

In [25]:
df2d.loc[:, '총점'] = df2d.iloc[:, :8].sum(axis=1)
df2d.loc[:, '합계'] = df2d.iloc[:, :8].mean(axis=1)
df2d

             국어     영어          수학  ...          예술      총점       합계
김효림   54.000000   79.0   91.000000  ...   80.000000   595.0   74.375
박민철   93.000000   51.0  100.000000  ...   51.000000   595.0   74.375
정윤주   96.000000   85.0   77.000000  ...   54.000000   656.0   82.000
최나은   56.000000   83.0   50.000000  ...   80.000000   537.0   67.125
홍길동   61.000000   64.0   65.000000  ...   76.000000   497.0   62.125
남효민   67.000000   58.0   75.000000  ...   93.000000   570.0   71.250
합계   427.000000  420.0  458.000000  ...  434.000000  3450.0  431.250
평균    71.166667   70.0   76.333333  ...   72.333333   575.0   71.875

[8 rows x 10 columns]

**조건에 맞는 행 추출하기**

In [29]:
new_df2d = df2d.iloc[:5]
high = new_df2d.loc[new_df2d['합계'] >= 75]
high

       국어    영어    수학   한국사    사회    과학    체육    예술     총점    합계
정윤주  96.0  85.0  77.0  91.0  70.0  97.0  86.0  54.0  656.0  82.0

**조건에 맞는 행과 열 추출하기**

In [30]:
high2 = df2d.loc[df2d['합계'] > 75, ['국어', '수학', '과학']]
high2

        국어     수학     과학
정윤주   96.0   77.0   97.0
합계   427.0  458.0  417.0